<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937673590841-i7n862jh1q0gff9mlisu5d4qg7142fdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937673590841-i7n862jh1q0gff9mlisu5d4qg7142fdk</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Yu4TIOMBNkcChaXqRyV2vc8TQ2OCp_I</string>
	<key>GCM_SENDER_ID</key>
	<string>937673590841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.izzad.orderjer</string>
	<key>PROJECT_ID</key>
	<string>orderjer-b7d45</string>
	<key>STORAGE_BUCKET</key>
	<string>orderjer-b7d45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937673590841:ios:08c1247327df92ee6be5e8</string>
	<key>DATABASE_URL</key>
	<string>https://orderjer-b7d45.firebaseio.com</string>
</dict>
</plist>